APP_BASE_URL = "http://localhost:5000"
SECRET_KEY = "secret-key"
SQLALCHEMY_DATABASE_URI = "sqlite:///notas.db"
#SQLALCHEMY_DATABASE_URI = "mysql+pymysql://user:password@localhost:3306/volatiles"
#SQLALCHEMY_DATABASE_URI = "postgresql+psycopg://user:password@localhost:5432/volatiles"